/* 전환 애니메이션 주는 법 */
/* 1. 애니메이션 동작 전 스타일을 담을 className 만들기 
2. 애니메이션 동작 후 스타일을 담을 className 만들기 
3. transition 속성도 추가
4. 원할 때 2번 탈부착 */

/* 애니메이션 동작 전 스타일 담을 클래스 */
.start {
  opacity : 0;
}

/* 애니메이션 동작 후 스타일 담을 클래스 */
.end {
  opacity : 1;
  transition: opacity  0.5s;
}





/* 오염방지하려면 App.module.css */
.main-bg{
  height: 300px;
  /* background-image: url('./img/bg.png'); */
  background-size: cover;
  background-position: center;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

